<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gerardogandeaga.cyberlock">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Cyber Lock"
        android:logo="@drawable/ic_back"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/MainTheme">

        <activity
            android:name=".activities.clearances.ActivityLogin"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.clearances.ActivityRegistration"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <!-- MAIN ACTIVITIES -->
        <activity
            android:name=".activities.core.ActivitySettings"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".support.settings.SettingsChangePasscode"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".activities.core.ActivityMain"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".activities.core.ActivityEdit"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".activities.core.ActivityPlayground"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize"/>

    </application>

</manifest>