<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gerardogandeaga.cyberlock">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Cyber Lock"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/DefaultTheme">
        <activity
            android:name=".Activitys.Activities.Login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Activitys.Activities.Login.RegistrationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <!-- MAIN ACTIVITIES -->
        <activity
            android:name=".Activitys.Activities.Menus.Settings"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".Supports.Settings_ChangeShortPasscode"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".Supports.Settings_ChangeComplexPasscode"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".Activitys.Activities.Main.MainActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".Activitys.Activities.Main.MainEditActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".Activitys.Activities.Main.MainPlaygroundActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize"/>

        <!-- <activity -->
        <!-- android:name=".test" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:windowSoftInputMode="adjustResize"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN"/> -->


        <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity android:name=".TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>