<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gerardogandeaga.cyberlock"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Cyber Lock"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activitys.Activities.Login.LoginActivity"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Activitys.Activities.Login.RegistrationActivity"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name=".Activitys.Activities.Main.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".Activitys.Activities.Menus.Contribute"/>
        <activity android:name=".Activitys.Activities.Menus.About"/>
        <activity android:name=".Activitys.Activities.Menus.Settings"/>
        <activity android:name=".Activitys.Activities.Menus.Settings_ResetPin"/>
        <activity android:name=".EncryptionFeatures.PrivateMemo.MainMemoActivity"/>
        <activity android:name=".EncryptionFeatures.PaymentInfo.MainPaymentInfoActivity"/>
        <activity android:name=".EncryptionFeatures.LoginInfo.MainLoginInfoActivity"/>
        <activity android:name=".EncryptionFeatures.PhotoGallery.MainPhotoGallery"/>
        <activity android:name=".EncryptionFeatures.PhotoGallery.CustomPhotoGalleryActivity"/>
        <activity android:name=".EncryptionFeatures.PrivateMemo.MemoEditActivity"/>
        <activity android:name=".EncryptionFeatures.PaymentInfo.PaymentInfoEditActivity"/>
        <activity android:name=".EncryptionFeatures.LoginInfo.LoginInfoEditActivity"/>
    </application>

</manifest>